@import "common-resources.scss";

* {
	padding: 0px;
	margin: 0px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

body {
	background-color: $bgcolor;
	font-family: 'Geometria', sans-serif;
}

.searchWindow {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(51, 51, 51, 0.4);
	opacity: 1;
	z-index: 99999;

	.searchContent {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		padding: 20px 0px;
		border-radius: 20px;
		background: white;
		z-index: 99999;
		width: 100vw;
		position: fixed;
		top: 93px;

		img, .cross {
			cursor: pointer;
		}

		input {
			font-size: 18px;
			color: black;
			font-weight: 300;
			border: none;
			width: 60%;
			margin: 0px 20px;
			padding: 0px 30px;

			&::placeholder {
				color: $textcolor6;
			}

			&:focus {
				outline: none;
			}
		}

		.cross {
			width: 30px;
			height: 30px;
			&::before, &::after {
				display: block;
				content: '';
				background: $textcolor6;
				width: 3px;
				height: 20px;

				position: relative;
			}

			&::before {
				transform: rotate(45deg);
				top: 6px;
				left: 15px;
			}
			&::after {
				transform: rotate(-45deg);
				top: -14px;
				left: 15px;
			}
		}
	}

	.bg {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		background: #333333;
		z-index: 99;
	}
}

.wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	font-weight: normal;
	color: #FFFFFF;
	z-index: -1;

	.logo {
		font-family: 'Belepotan', sans-serif;
		font-weight: 100;
		font-style: italic;
		min-width: 150px;
	}

	.main-content {
		background: #FFF;
		color: $textcolor1;
		border-radius: 20px;
		padding: 120px;

		.mobile-menu {
			display: none;
		}
	}

	.header {

		a {
			color: #FFFFFF;
			text-decoration: none;
			padding-right: 50px;
		}

		.navigation {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			>* {
				padding: 0px 10px;
				&:hover {
					opacity: 0.5;
					transition: .5s;
					cursor: pointer;
				}
			}
		}

		.city {
			cursor: pointer;
			text-decoration: underline;
		}

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: flex-start;

		padding: 30px 30px;

		.profile-and-cart {
			display: flex;
			flex-flow: row nowrap;
			padding-left: 25px;

			a {
				padding-right: 0px;
			}

			img {
				margin: 0px 5px;
				cursor: pointer;
			}
		}
	}

	.main-content {

	}

	.footer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;

		padding: 30px 30px;

		div {
			display: flex;
			flex-flow: column nowrap;
			a {
				color: #FFFFFF;
				text-decoration: none;

				&:hover {
					opacity: 0.5;
					transition: .5s;
				}
			}

			p, a:not(h4, h2) {
				font-size: 14px;
				padding-bottom: 5px;
			}

			h2, h4 {
				padding-bottom: 20px;
			}

			h2 {
				width: 150px;
			}

			&:nth-child(1) {
				font-size: 12px;

			}

			&:nth-child(4) {
				max-width: 33%;
				p {
					display: flex;
					flex-flow: row nowrap;

					span:first-child {
						min-width: 100px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.searchWindow {
		.searchContent {
			input {
				font-size: 14px;
				margin: 0;
				padding: 0;
				padding-left: 15px;
				width: 70%;
			}
		}
	}

	.wrapper {
		.header {
			>*:not(.logo) {
				display: none;
			}

			.logo {
				padding: 0px;
			}

			padding: 20px 0px;
		}

		.main-content {
			padding: 25px;
			.mobile-menu {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				.profile-and-cart {
					img {
						transform: scale(1.3);
					}

					a:last-child {
						margin-left: 25px;
					}
				}

				.search-and-menu {
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-between;
					.search {
						transform: scale(1.3);
						margin-right: 25px;
						cursor: pointer;
					}

					.menu {
						cursor: pointer;
						.line {
							display:block;
							content: '';
							background:$bgcolor;
							width:30px;
							height:3px;
							position: relative;
							border-radius:2px;
							transition: all 0.4s;
							-webkit-transition: all 0.4s;
							-moz-transition: all 0.4s;
						}

						.line-1 {
							top:  -5%;
						}

						.line-2 {
							top: 25%;
						}

						.line-3 {
							top: 55%;
						}

						// &:hover {
						// 	.line-1 {
						// 		transform: translateY(3px / 2 * -1) scaleX(1.2);
						// 	}
						// 	.line-3 {
						// 		transform: translateY(3px / 2 * 1) scaleX(1.2);
						// 	}
						// }
					}

					.open {
						.line-1 {
							transform: translate(0px, 10px) rotate(45deg);
						}

						.line-2 {
							display: none;
						}

						.line-3 {
							transform: translate(0px, -9px) rotate(-45deg);
						}
					}
				}

				.navigation {
					display: flex;
					flex-flow: column nowrap;
					align-items: center;
					justify-content: flex-start;
					padding-top: calc(40vh - 120px);
					position: fixed;
					top: 0px;
					left: 0px;
					background: white;
					width: 100vw;
					height: 100vh;
					z-index: 99999;
					transform: translate(0px, 100vh);

					transform-origin: 0% 100%;
					transition: transform 1s ease-out;

					a {
						text-decoration: none;
						color: black;
						font-size: 24px;
						padding: 10px 0px;
					}
					opacity: 0;
				}
			}
		}

		.footer {
			flex-flow: column nowrap;
			margin: 25px 40px;
			text-align: left;
			padding: 0px;
			.main-info{
				padding-top: 30px;
				order: 999;
			}

			>div {
				border-top: solid 1px #C4C4C4;
				margin-bottom: 20px;
				h2 {
					width: 100%;
				}
				h4,a {
					font-weight: 300;
				}
				h4 {
					font-size: 24px;
					padding-top: 15px;
				}
				a,p {
					font-size: 18px;
					padding: 5px 0px;
				}

				&:nth-child(4) {
					max-width: 100%;

					p {
						span:first-child {
							min-width: 100px;
						}
					}
				}
			}
		}
	}
}
