@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Thin.eot");
  src: local("Geometria Thin"), local("Geometria-Thin"), url("../fonts/Geometria-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Thin.woff") format("woff"), url("../fonts/Geometria-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-MediumItalic.eot");
  src: local("Geometria MediumItalic"), local("Geometria-MediumItalic"), url("../fonts/Geometria-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-MediumItalic.woff") format("woff"), url("../fonts/Geometria-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Italic.eot");
  src: local("Geometria Italic"), local("Geometria-Italic"), url("../fonts/Geometria-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Italic.woff") format("woff"), url("../fonts/Geometria-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Heavy.eot");
  src: local("Geometria Heavy"), local("Geometria-Heavy"), url("../fonts/Geometria-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraBoldItalic.eot");
  src: local("Geometria ExtraBoldItalic"), local("Geometria-ExtraBoldItalic"), url("../fonts/Geometria-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBoldItalic.woff") format("woff"), url("../fonts/Geometria-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Medium.eot");
  src: local("Geometria Medium"), local("Geometria-Medium"), url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-BoldItalic.eot");
  src: local("Geometria BoldItalic"), local("Geometria-BoldItalic"), url("../fonts/Geometria-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-BoldItalic.woff") format("woff"), url("../fonts/Geometria-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-LightItalic.eot");
  src: local("Geometria LightItalic"), local("Geometria-LightItalic"), url("../fonts/Geometria-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-LightItalic.woff") format("woff"), url("../fonts/Geometria-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-HeavyItalic.eot");
  src: local("Geometria HeavyItalic"), local("Geometria-HeavyItalic"), url("../fonts/Geometria-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-HeavyItalic.woff") format("woff"), url("../fonts/Geometria-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.eot");
  src: local("Geometria"), url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.eot");
  src: local("Geometria Bold"), local("Geometria-Bold"), url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraBold.eot");
  src: local("Geometria ExtraBold"), local("Geometria-ExtraBold"), url("../fonts/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ThinItalic.eot");
  src: local("Geometria ThinItalic"), local("Geometria-ThinItalic"), url("../fonts/Geometria-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ThinItalic.woff") format("woff"), url("../fonts/Geometria-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraLightItalic.eot");
  src: local("Geometria ExtraLightItalic"), local("Geometria-ExtraLightItalic"), url("../fonts/Geometria-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraLightItalic.woff") format("woff"), url("../fonts/Geometria-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Light.eot");
  src: local("Geometria Light"), local("Geometria-Light"), url("../fonts/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraLight.eot");
  src: local("Geometria ExtraLight"), local("Geometria-ExtraLight"), url("../fonts/Geometria-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraLight.woff") format("woff"), url("../fonts/Geometria-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Belepotan";
  src: url("../fonts/Belepotan.eot") format("eot"), url("../fonts/Belepotan.ttf") format("truetype"), url("../fonts/Belepotan-Italic.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni";
  src: url("../fonts/BodoniFLF-Roman.ttf"); }

* {
  padding: 0px;
  margin: 0px; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

body {
  background-color: #A39588;
  font-family: 'Geometria', sans-serif; }

.searchWindow {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.4);
  opacity: 1;
  z-index: 99999; }
  .searchWindow .searchContent {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    border-radius: 20px;
    background: white;
    z-index: 99999;
    width: 100vw;
    position: fixed;
    top: 93px; }
    .searchWindow .searchContent img, .searchWindow .searchContent .cross {
      cursor: pointer; }
    .searchWindow .searchContent input {
      font-size: 18px;
      color: black;
      font-weight: 300;
      border: none;
      width: 60%;
      margin: 0px 20px;
      padding: 0px 30px; }
      .searchWindow .searchContent input::placeholder {
        color: #C4C4C4; }
      .searchWindow .searchContent input:focus {
        outline: none; }
    .searchWindow .searchContent .cross {
      width: 30px;
      height: 30px; }
      .searchWindow .searchContent .cross::before, .searchWindow .searchContent .cross::after {
        display: block;
        content: '';
        background: #C4C4C4;
        width: 3px;
        height: 20px;
        position: relative; }
      .searchWindow .searchContent .cross::before {
        transform: rotate(45deg);
        top: 6px;
        left: 15px; }
      .searchWindow .searchContent .cross::after {
        transform: rotate(-45deg);
        top: -14px;
        left: 15px; }
  .searchWindow .bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #333333;
    z-index: 99; }

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-weight: normal;
  color: #FFFFFF;
  z-index: -1; }
  .wrapper .logo {
    font-family: 'Belepotan', sans-serif;
    font-weight: 100;
    font-style: italic;
    min-width: 150px; }
  .wrapper .main-content {
    background: #FFF;
    color: #A39588;
    border-radius: 20px;
    padding: 120px; }
    .wrapper .main-content .mobile-menu {
      display: none; }
  .wrapper .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px 30px; }
    .wrapper .header a {
      color: #FFFFFF;
      text-decoration: none;
      padding-right: 50px; }
    .wrapper .header .navigation {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      .wrapper .header .navigation > * {
        padding: 0px 10px; }
        .wrapper .header .navigation > *:hover {
          opacity: 0.5;
          transition: .5s;
          cursor: pointer; }
    .wrapper .header .city {
      cursor: pointer;
      text-decoration: underline; }
    .wrapper .header .profile-and-cart {
      display: flex;
      flex-flow: row nowrap;
      padding-left: 25px; }
      .wrapper .header .profile-and-cart a {
        padding-right: 0px; }
      .wrapper .header .profile-and-cart img {
        margin: 0px 5px;
        cursor: pointer; }
  .wrapper .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 30px 30px; }
    .wrapper .footer div {
      display: flex;
      flex-flow: column nowrap; }
      .wrapper .footer div a {
        color: #FFFFFF;
        text-decoration: none; }
        .wrapper .footer div a:hover {
          opacity: 0.5;
          transition: .5s; }
      .wrapper .footer div p, .wrapper .footer div a {
        font-size: 14px;
        padding-bottom: 5px; }
      .wrapper .footer div h2, .wrapper .footer div h4 {
        padding-bottom: 20px; }
      .wrapper .footer div h2 {
        width: 150px; }
      .wrapper .footer div:nth-child(1) {
        font-size: 12px; }
      .wrapper .footer div:nth-child(4) {
        max-width: 33%; }
        .wrapper .footer div:nth-child(4) p {
          display: flex;
          flex-flow: row nowrap; }
          .wrapper .footer div:nth-child(4) p span:first-child {
            min-width: 100px; }

@media screen and (max-width: 900px) {
  .searchWindow .searchContent input {
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    width: 70%; }
  .wrapper .header {
    padding: 20px 0px; }
    .wrapper .header > *:not(.logo) {
      display: none; }
    .wrapper .header .logo {
      padding: 0px; }
  .wrapper .main-content {
    padding: 25px; }
    .wrapper .main-content .mobile-menu {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      .wrapper .main-content .mobile-menu .profile-and-cart img {
        transform: scale(1.3); }
      .wrapper .main-content .mobile-menu .profile-and-cart a:last-child {
        margin-left: 25px; }
      .wrapper .main-content .mobile-menu .search-and-menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between; }
        .wrapper .main-content .mobile-menu .search-and-menu .search {
          transform: scale(1.3);
          margin-right: 25px;
          cursor: pointer; }
        .wrapper .main-content .mobile-menu .search-and-menu .menu {
          cursor: pointer; }
          .wrapper .main-content .mobile-menu .search-and-menu .menu .line {
            display: block;
            content: '';
            background: #A39588;
            width: 30px;
            height: 3px;
            position: relative;
            border-radius: 2px;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s; }
          .wrapper .main-content .mobile-menu .search-and-menu .menu .line-1 {
            top: -5%; }
          .wrapper .main-content .mobile-menu .search-and-menu .menu .line-2 {
            top: 25%; }
          .wrapper .main-content .mobile-menu .search-and-menu .menu .line-3 {
            top: 55%; }
          .wrapper .main-content .mobile-menu .search-and-menu .menu:hover .line-1 {
            transform: translateY(-1.5px) scaleX(1.2); }
          .wrapper .main-content .mobile-menu .search-and-menu .menu:hover .line-3 {
            transform: translateY(1.5px) scaleX(1.2); }
  .wrapper .footer {
    flex-flow: column nowrap;
    margin: 25px 40px;
    text-align: left;
    padding: 0px; }
    .wrapper .footer .main-info {
      padding-top: 30px;
      order: 999; }
    .wrapper .footer > div {
      border-top: solid 1px #C4C4C4;
      margin-bottom: 20px; }
      .wrapper .footer > div h2 {
        width: 100%; }
      .wrapper .footer > div h4, .wrapper .footer > div a {
        font-weight: 300; }
      .wrapper .footer > div h4 {
        font-size: 24px;
        padding-top: 15px; }
      .wrapper .footer > div a, .wrapper .footer > div p {
        font-size: 18px;
        padding: 5px 0px; }
      .wrapper .footer > div:nth-child(4) {
        max-width: 100%; }
        .wrapper .footer > div:nth-child(4) p span:first-child {
          min-width: 100px; } }

.expand-goods {
  position: absolute;
  width: 310px;
  height: 600px;
  max-height: 600px;
  z-index: 999;
  transition: all 1s; }

.sub {
  padding: 1px;
  margin-left: 20px;
  position: relative;
  background: #ccc;
  z-index: 1;
  border-radius: 6px;
  overflow: hidden;
  width: 122px; }
  .sub input {
    background: white;
    color: #A39588;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    border: none;
    z-index: 2;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px; }
    .sub input:hover ~ .border {
      width: 100%;
      height: 100%; }
    .sub input:hover {
      color: black;
      transition: color 1s; }
  .sub .border {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background: black;
    z-index: -1;
    -webkit-transition: height 0.3s, width 0.3s 0.1s;
    transition: height 0.3s, width 0.3s 0.1s; }

.wrapper .main-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 50px; }
  .wrapper .main-content .catalog {
    min-width: 200px;
    font-size: 14px; }
    .wrapper .main-content .catalog > p:nth-child(1) {
      font-size: 13px;
      color: #828282; }
      .wrapper .main-content .catalog > p:nth-child(1) a {
        text-decoration: none;
        color: #828282; }
      .wrapper .main-content .catalog > p:nth-child(1) a:hover {
        color: black; }
    .wrapper .main-content .catalog > p:nth-child(2) {
      display: none; }
    .wrapper .main-content .catalog > p:nth-child(3) {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 800; }
    .wrapper .main-content .catalog .categories {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      width: 140px;
      padding-top: 30px; }
      .wrapper .main-content .catalog .categories span {
        color: #666666;
        padding: 5px 20px;
        border-radius: 4px;
        cursor: pointer; }
        .wrapper .main-content .catalog .categories span:hover {
          text-decoration: underline; }
      .wrapper .main-content .catalog .categories .active {
        color: white;
        background: #A39588; }
    .wrapper .main-content .catalog .filters > div {
      padding: 15px 20px; }
      .wrapper .main-content .catalog .filters > div span {
        color: black;
        font-weight: bold; }
      .wrapper .main-content .catalog .filters > div > div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 5px 0px; }
        .wrapper .main-content .catalog .filters > div > div p {
          padding-left: 7px;
          color: black; }
          .wrapper .main-content .catalog .filters > div > div p span {
            color: #666666;
            font-weight: 300; }
    .wrapper .main-content .catalog .filters .country > span:last-child {
      cursor: pointer;
      color: #A39588;
      font-weight: 400; }
      .wrapper .main-content .catalog .filters .country > span:last-child:hover {
        color: black;
        transition: color .5s; }
    .wrapper .main-content .catalog > p:last-child {
      margin: 15px 20px;
      text-decoration: underline; }
      .wrapper .main-content .catalog > p:last-child:hover {
        cursor: pointer;
        color: black;
        transition: color .5s; }
  .wrapper .main-content .showcase {
    width: calc(100% - 200px); }
    .wrapper .main-content .showcase .showcase-panel {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      .wrapper .main-content .showcase .showcase-panel a {
        color: #A39588; }
      .wrapper .main-content .showcase .showcase-panel .showcase-panel-view img {
        padding-left: 5px;
        cursor: pointer; }
        .wrapper .main-content .showcase .showcase-panel .showcase-panel-view img:hover {
          transition: .5s ease;
          filter: invert(61%) sepia(14%) saturate(349%) hue-rotate(348deg) brightness(96%) contrast(86%); }
      .wrapper .main-content .showcase .showcase-panel .showcase-panel-view .active {
        filter: invert(61%) sepia(14%) saturate(349%) hue-rotate(348deg) brightness(96%) contrast(86%); }
    .wrapper .main-content .showcase .flex {
      display: flex;
      flex-flow: column nowrap; }
      .wrapper .main-content .showcase .flex .goods {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        max-width: 1000px;
        background: #F8F8F8;
        padding: 20px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-top: 15px; }
        .wrapper .main-content .showcase .flex .goods img {
          height: 150px;
          width: 110px; }
        .wrapper .main-content .showcase .flex .goods .goods-info {
          text-decoration: none; }
          .wrapper .main-content .showcase .flex .goods .goods-info p {
            color: #888888;
            font-size: 14px;
            padding-bottom: 3px; }
            .wrapper .main-content .showcase .flex .goods .goods-info p span:last-child {
              text-decoration: underline;
              color: #666666;
              cursor: pointer; }
            .wrapper .main-content .showcase .flex .goods .goods-info p:nth-child(1) {
              color: #8A8A8A; }
            .wrapper .main-content .showcase .flex .goods .goods-info p:nth-child(2) {
              color: black;
              font-size: 22px;
              padding-bottom: 10px; }
        .wrapper .main-content .showcase .flex .goods .goods-price-and-button {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-end; }
          .wrapper .main-content .showcase .flex .goods .goods-price-and-button .price {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end; }
            .wrapper .main-content .showcase .flex .goods .goods-price-and-button .price .sale {
              color: white;
              background: #E5750C;
              border-radius: 3px;
              padding: 4px 8px;
              position: relative;
              right: 25%; }
            .wrapper .main-content .showcase .flex .goods .goods-price-and-button .price span {
              font-size: 30px;
              color: black;
              font-weight: 800; }
            .wrapper .main-content .showcase .flex .goods .goods-price-and-button .price .new-price {
              text-decoration: none;
              color: #E5750C;
              font-size: 30px;
              padding-right: 20px; }
            .wrapper .main-content .showcase .flex .goods .goods-price-and-button .price .old-price {
              color: #8A8A8A;
              text-decoration: line-through;
              font-weight: 300;
              font-size: 22px; }
          .wrapper .main-content .showcase .flex .goods .goods-price-and-button .to-cart-buttons {
            margin-top: 80px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center; }
            .wrapper .main-content .showcase .flex .goods .goods-price-and-button .to-cart-buttons .selector {
              display: flex;
              flex-flow: row nowrap;
              align-items: flex-end;
              justify-content: flex-end; }
              .wrapper .main-content .showcase .flex .goods .goods-price-and-button .to-cart-buttons .selector .sel {
                color: #C4C4C4;
                font-size: 20px;
                width: 60px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                cursor: pointer; }
                .wrapper .main-content .showcase .flex .goods .goods-price-and-button .to-cart-buttons .selector .sel:hover {
                  color: #A39588;
                  transition: border 1s ease; }
              .wrapper .main-content .showcase .flex .goods .goods-price-and-button .to-cart-buttons .selector .active {
                color: #A39588;
                font-weight: 800;
                border: 1px solid #A39588;
                box-sizing: border-box;
                border-radius: 5px; }
            .wrapper .main-content .showcase .flex .goods .goods-price-and-button .to-cart-buttons .add-to-cart {
              width: 114px;
              height: 36px; }
    .wrapper .main-content .showcase .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
      grid-gap: 20px;
      margin-top: 30px;
      justify-content: center; }
      .wrapper .main-content .showcase .grid .goods {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        max-width: 1000px;
        background: #F8F8F8;
        padding: 20px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-top: 15px;
        max-height: 400px; }
        .wrapper .main-content .showcase .grid .goods img {
          height: 150px;
          width: 110px; }
        .wrapper .main-content .showcase .grid .goods .goods-info {
          width: 100%;
          text-align: left; }
          .wrapper .main-content .showcase .grid .goods .goods-info p {
            color: #888888;
            font-size: 14px;
            padding-bottom: 3px; }
            .wrapper .main-content .showcase .grid .goods .goods-info p span:last-child {
              text-decoration: underline;
              color: #666666;
              cursor: pointer; }
            .wrapper .main-content .showcase .grid .goods .goods-info p:nth-child(1) {
              color: #8A8A8A;
              font-size: 18px; }
            .wrapper .main-content .showcase .grid .goods .goods-info p:nth-child(2) {
              color: black;
              font-size: 22px;
              padding-bottom: 10px; }
        .wrapper .main-content .showcase .grid .goods .goods-price-and-button {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          width: 100%; }
          .wrapper .main-content .showcase .grid .goods .goods-price-and-button .price {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            justify-content: flex-end;
            padding-bottom: 20px; }
            .wrapper .main-content .showcase .grid .goods .goods-price-and-button .price .sale {
              color: white;
              background: #E5750C;
              border-radius: 3px;
              padding: 4px 8px;
              position: relative;
              order: 999;
              left: -195px;
              bottom: -35px; }
            .wrapper .main-content .showcase .grid .goods .goods-price-and-button .price span {
              font-size: 30px;
              color: black;
              font-weight: 800; }
            .wrapper .main-content .showcase .grid .goods .goods-price-and-button .price .new-price {
              text-decoration: none;
              color: #E5750C;
              font-size: 30px;
              padding-right: 20px; }
            .wrapper .main-content .showcase .grid .goods .goods-price-and-button .price .old-price {
              color: #8A8A8A;
              text-decoration: line-through;
              font-weight: 300;
              font-size: 22px; }
          .wrapper .main-content .showcase .grid .goods .goods-price-and-button .to-cart-buttons {
            margin-top: 80px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            display: none; }
            .wrapper .main-content .showcase .grid .goods .goods-price-and-button .to-cart-buttons .selector {
              display: flex;
              flex-flow: row nowrap;
              align-items: flex-end;
              justify-content: flex-end; }
              .wrapper .main-content .showcase .grid .goods .goods-price-and-button .to-cart-buttons .selector .sel {
                color: #C4C4C4;
                font-size: 18px;
                width: 60px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                cursor: pointer; }
                .wrapper .main-content .showcase .grid .goods .goods-price-and-button .to-cart-buttons .selector .sel:hover {
                  color: #A39588;
                  transition: 1s ease-out; }
              .wrapper .main-content .showcase .grid .goods .goods-price-and-button .to-cart-buttons .selector .active {
                color: #A39588;
                font-weight: 800;
                border: 1px solid #A39588;
                box-sizing: border-box;
                border-radius: 5px; }
            .wrapper .main-content .showcase .grid .goods .goods-price-and-button .to-cart-buttons .add-to-cart {
              width: 114px;
              height: 36px; }

@media screen and (max-width: 1200px) {
  .wrapper .main-content .showcase {
    width: auto; } }

@media screen and (max-width: 900px) {
  .wrapper .main-content {
    flex-flow: column nowrap; }
    .wrapper .main-content .catalog {
      margin-top: 30px; }
      .wrapper .main-content .catalog p:first-child {
        font-size: 20px; }
      .wrapper .main-content .catalog p:nth-child(2) {
        display: block;
        color: black;
        font-weight: 800;
        font-size: 30px;
        padding-top: 5px; }
      .wrapper .main-content .catalog .categories, .wrapper .main-content .catalog .filters, .wrapper .main-content .catalog .apply-filters, .wrapper .main-content .catalog p:last-child, .wrapper .main-content .catalog p:nth-child(3) {
        display: none; }
    .wrapper .main-content .showcase .showcase-panel {
      display: none; }
    .wrapper .main-content .showcase .showcase-template {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 20px;
      margin-top: 30px;
      justify-content: center; }
      .wrapper .main-content .showcase .showcase-template .goods {
        flex-flow: column nowrap;
        align-items: center;
        margin: 0px;
        padding: 20px; }
        .wrapper .main-content .showcase .showcase-template .goods .goods-info {
          width: 100%;
          text-align: left; }
          .wrapper .main-content .showcase .showcase-template .goods .goods-info p:nth-child(1) {
            font-size: 18px; }
        .wrapper .main-content .showcase .showcase-template .goods .goods-price-and-button {
          align-items: flex-start;
          width: 100%; }
          .wrapper .main-content .showcase .showcase-template .goods .goods-price-and-button .price {
            justify-content: flex-end; }
            .wrapper .main-content .showcase .showcase-template .goods .goods-price-and-button .price .sale {
              order: 999;
              left: -195px;
              bottom: -35px; }
          .wrapper .main-content .showcase .showcase-template .goods .goods-price-and-button .to-cart-buttons {
            display: flex; }
            .wrapper .main-content .showcase .showcase-template .goods .goods-price-and-button .to-cart-buttons .selector .sel {
              font-size: 14px;
              width: 45px;
              height: 30px;
              line-height: 30px; } }
