@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Thin.eot");
  src: local("Geometria Thin"), local("Geometria-Thin"), url("../fonts/Geometria-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Thin.woff") format("woff"), url("../fonts/Geometria-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-MediumItalic.eot");
  src: local("Geometria MediumItalic"), local("Geometria-MediumItalic"), url("../fonts/Geometria-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-MediumItalic.woff") format("woff"), url("../fonts/Geometria-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Italic.eot");
  src: local("Geometria Italic"), local("Geometria-Italic"), url("../fonts/Geometria-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Italic.woff") format("woff"), url("../fonts/Geometria-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Heavy.eot");
  src: local("Geometria Heavy"), local("Geometria-Heavy"), url("../fonts/Geometria-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraBoldItalic.eot");
  src: local("Geometria ExtraBoldItalic"), local("Geometria-ExtraBoldItalic"), url("../fonts/Geometria-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBoldItalic.woff") format("woff"), url("../fonts/Geometria-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Medium.eot");
  src: local("Geometria Medium"), local("Geometria-Medium"), url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-BoldItalic.eot");
  src: local("Geometria BoldItalic"), local("Geometria-BoldItalic"), url("../fonts/Geometria-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-BoldItalic.woff") format("woff"), url("../fonts/Geometria-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-LightItalic.eot");
  src: local("Geometria LightItalic"), local("Geometria-LightItalic"), url("../fonts/Geometria-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-LightItalic.woff") format("woff"), url("../fonts/Geometria-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-HeavyItalic.eot");
  src: local("Geometria HeavyItalic"), local("Geometria-HeavyItalic"), url("../fonts/Geometria-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-HeavyItalic.woff") format("woff"), url("../fonts/Geometria-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.eot");
  src: local("Geometria"), url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.eot");
  src: local("Geometria Bold"), local("Geometria-Bold"), url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraBold.eot");
  src: local("Geometria ExtraBold"), local("Geometria-ExtraBold"), url("../fonts/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ThinItalic.eot");
  src: local("Geometria ThinItalic"), local("Geometria-ThinItalic"), url("../fonts/Geometria-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ThinItalic.woff") format("woff"), url("../fonts/Geometria-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraLightItalic.eot");
  src: local("Geometria ExtraLightItalic"), local("Geometria-ExtraLightItalic"), url("../fonts/Geometria-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraLightItalic.woff") format("woff"), url("../fonts/Geometria-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Light.eot");
  src: local("Geometria Light"), local("Geometria-Light"), url("../fonts/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraLight.eot");
  src: local("Geometria ExtraLight"), local("Geometria-ExtraLight"), url("../fonts/Geometria-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraLight.woff") format("woff"), url("../fonts/Geometria-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Belepotan";
  src: url("../fonts/Belepotan.eot") format("eot"), url("../fonts/Belepotan.ttf") format("truetype"), url("../fonts/Belepotan-Italic.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni";
  src: url("../fonts/BodoniFLF-Roman.ttf"); }

* {
  padding: 0px;
  margin: 0px; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

body {
  background-color: #A39588;
  font-family: 'Geometria', sans-serif; }

.searchWindow {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.4);
  opacity: 1;
  z-index: 99999; }
  .searchWindow .searchContent {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    border-radius: 20px;
    background: white;
    z-index: 99999;
    width: 100vw;
    position: fixed;
    top: 93px; }
    .searchWindow .searchContent img, .searchWindow .searchContent .cross {
      cursor: pointer; }
    .searchWindow .searchContent input {
      font-size: 18px;
      color: black;
      font-weight: 300;
      border: none;
      width: 60%;
      margin: 0px 20px;
      padding: 0px 30px; }
      .searchWindow .searchContent input::placeholder {
        color: #C4C4C4; }
      .searchWindow .searchContent input:focus {
        outline: none; }
    .searchWindow .searchContent .cross {
      width: 30px;
      height: 30px; }
      .searchWindow .searchContent .cross::before, .searchWindow .searchContent .cross::after {
        display: block;
        content: '';
        background: #C4C4C4;
        width: 3px;
        height: 20px;
        position: relative; }
      .searchWindow .searchContent .cross::before {
        transform: rotate(45deg);
        top: 6px;
        left: 15px; }
      .searchWindow .searchContent .cross::after {
        transform: rotate(-45deg);
        top: -14px;
        left: 15px; }
  .searchWindow .bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #333333;
    z-index: 99; }

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-weight: normal;
  color: #FFFFFF;
  z-index: -1; }
  .wrapper .logo {
    font-family: 'Belepotan', sans-serif;
    font-weight: 100;
    font-style: italic;
    min-width: 150px; }
  .wrapper .main-content {
    background: #FFF;
    color: #A39588;
    border-radius: 20px;
    padding: 120px; }
    .wrapper .main-content .mobile-menu {
      display: none; }
  .wrapper .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px 30px; }
    .wrapper .header a {
      color: #FFFFFF;
      text-decoration: none;
      padding-right: 50px; }
    .wrapper .header .navigation {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      .wrapper .header .navigation > * {
        padding: 0px 10px; }
        .wrapper .header .navigation > *:hover {
          opacity: 0.5;
          transition: .5s;
          cursor: pointer; }
    .wrapper .header .city {
      cursor: pointer;
      text-decoration: underline; }
    .wrapper .header .profile-and-cart {
      display: flex;
      flex-flow: row nowrap;
      padding-left: 25px; }
      .wrapper .header .profile-and-cart a {
        padding-right: 0px; }
      .wrapper .header .profile-and-cart img {
        margin: 0px 5px;
        cursor: pointer; }
  .wrapper .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 30px 30px; }
    .wrapper .footer div {
      display: flex;
      flex-flow: column nowrap; }
      .wrapper .footer div a {
        color: #FFFFFF;
        text-decoration: none; }
        .wrapper .footer div a:hover {
          opacity: 0.5;
          transition: .5s; }
      .wrapper .footer div p, .wrapper .footer div a {
        font-size: 14px;
        padding-bottom: 5px; }
      .wrapper .footer div h2, .wrapper .footer div h4 {
        padding-bottom: 20px; }
      .wrapper .footer div h2 {
        width: 150px; }
      .wrapper .footer div:nth-child(1) {
        font-size: 12px; }
      .wrapper .footer div:nth-child(4) {
        max-width: 33%; }
        .wrapper .footer div:nth-child(4) p {
          display: flex;
          flex-flow: row nowrap; }
          .wrapper .footer div:nth-child(4) p span:first-child {
            min-width: 100px; }

@media screen and (max-width: 900px) {
  .searchWindow .searchContent input {
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    width: 70%; }
  .wrapper .header {
    padding: 20px 0px; }
    .wrapper .header > *:not(.logo) {
      display: none; }
    .wrapper .header .logo {
      padding: 0px; }
  .wrapper .main-content {
    padding: 25px; }
    .wrapper .main-content .mobile-menu {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      .wrapper .main-content .mobile-menu .profile-and-cart img {
        transform: scale(1.3); }
      .wrapper .main-content .mobile-menu .profile-and-cart a:last-child {
        margin-left: 25px; }
      .wrapper .main-content .mobile-menu .search-and-menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between; }
        .wrapper .main-content .mobile-menu .search-and-menu .search {
          transform: scale(1.3);
          margin-right: 25px;
          cursor: pointer; }
        .wrapper .main-content .mobile-menu .search-and-menu .menu {
          cursor: pointer; }
          .wrapper .main-content .mobile-menu .search-and-menu .menu .line {
            display: block;
            content: '';
            background: #A39588;
            width: 30px;
            height: 3px;
            position: relative;
            border-radius: 2px;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s; }
          .wrapper .main-content .mobile-menu .search-and-menu .menu .line-1 {
            top: -5%; }
          .wrapper .main-content .mobile-menu .search-and-menu .menu .line-2 {
            top: 25%; }
          .wrapper .main-content .mobile-menu .search-and-menu .menu .line-3 {
            top: 55%; }
        .wrapper .main-content .mobile-menu .search-and-menu .open .line-1 {
          transform: translate(0px, 10px) rotate(45deg); }
        .wrapper .main-content .mobile-menu .search-and-menu .open .line-2 {
          display: none; }
        .wrapper .main-content .mobile-menu .search-and-menu .open .line-3 {
          transform: translate(0px, -9px) rotate(-45deg); }
      .wrapper .main-content .mobile-menu .navigation {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        padding-top: calc(40vh - 120px);
        position: fixed;
        top: 0px;
        left: 0px;
        background: white;
        width: 100vw;
        height: 100vh;
        z-index: 99999;
        transform: translate(0px, 100vh);
        transform-origin: 0% 100%;
        transition: all 1s ease-out; }
        .wrapper .main-content .mobile-menu .navigation a {
          text-decoration: none;
          color: black;
          font-size: 24px;
          padding: 10px 0px; }
  .wrapper .footer {
    flex-flow: column nowrap;
    margin: 25px 40px;
    text-align: left;
    padding: 0px; }
    .wrapper .footer .main-info {
      padding-top: 30px;
      order: 999; }
    .wrapper .footer > div {
      border-top: solid 1px #C4C4C4;
      margin-bottom: 20px; }
      .wrapper .footer > div h2 {
        width: 100%; }
      .wrapper .footer > div h4, .wrapper .footer > div a {
        font-weight: 300; }
      .wrapper .footer > div h4 {
        font-size: 24px;
        padding-top: 15px; }
      .wrapper .footer > div a, .wrapper .footer > div p {
        font-size: 18px;
        padding: 5px 0px; }
      .wrapper .footer > div:nth-child(4) {
        max-width: 100%; }
        .wrapper .footer > div:nth-child(4) p span:first-child {
          min-width: 100px; } }

.wrapper .main-content .lk > p {
  color: #A39588; }
  .wrapper .main-content .lk > p:nth-child(1) a {
    color: #A39588;
    text-decoration: none; }
    .wrapper .main-content .lk > p:nth-child(1) a:hover {
      color: #828282; }
  .wrapper .main-content .lk > p:nth-child(2) {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase; }

.wrapper .main-content .lk .lk-content {
  margin-top: 40px;
  display: flex;
  flex-flow: row nowrap; }
  .wrapper .main-content .lk .lk-content .selector {
    color: #666666;
    width: 250px; }
    .wrapper .main-content .lk .lk-content .selector p {
      padding: 5px 10px;
      cursor: pointer; }
      .wrapper .main-content .lk .lk-content .selector p:hover {
        color: #000000; }
    .wrapper .main-content .lk .lk-content .selector .active {
      color: white;
      background: #A39588;
      border-radius: 5px; }
  .wrapper .main-content .lk .lk-content .data {
    margin-left: 60px; }
    .wrapper .main-content .lk .lk-content .data .face {
      display: flex;
      flex-flow: row nowrap; }
      .wrapper .main-content .lk .lk-content .data .face span {
        padding: 7px 15px;
        background: #F8F8F8;
        border-radius: 5px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1); }
      .wrapper .main-content .lk .lk-content .data .face .active {
        background: #A39588;
        color: white;
        margin-right: 15px; }
    .wrapper .main-content .lk .lk-content .data .fields {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 25px; }
      .wrapper .main-content .lk .lk-content .data .fields input {
        font-family: 'Geometria', sans-serif;
        padding: 5px 10px;
        border: none;
        outline: none;
        border: 1px solid #C4C4C4;
        border-radius: 5px; }
        .wrapper .main-content .lk .lk-content .data .fields input:nth-child(4) {
          opacity: 0; }
    .wrapper .main-content .lk .lk-content .data p {
      margin-top: 15px;
      font-size: 12px; }
    .wrapper .main-content .lk .lk-content .data .gender span {
      color: black; }
    .wrapper .main-content .lk .lk-content .data > input {
      margin-bottom: 20px; }

@media screen and (max-width: 900px) {
  .wrapper .main-content .lk {
    padding-top: 30px; }
    .wrapper .main-content .lk .lk-content {
      flex-flow: column nowrap; }
      .wrapper .main-content .lk .lk-content .selector {
        display: none; }
      .wrapper .main-content .lk .lk-content .data {
        margin-left: 0px; }
        .wrapper .main-content .lk .lk-content .data .fields {
          display: flex;
          flex-flow: column nowrap; }
          .wrapper .main-content .lk .lk-content .data .fields input:nth-child(4) {
            display: none; }
        .wrapper .main-content .lk .lk-content .data textarea {
          width: 100%; } }
